<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id ="database_conn" class="work.with.db.DatabaseConn" >

    </bean>

    <bean id="gift_code_for_user" class="dao.GiftCodeForUserDaoImpl" init-method="init">
        <property name="databaseConn">
            <ref bean="database_conn"></ref>
        </property>
    </bean>


    <bean id="gift_code_general" class="dao.GiftCodeGeneralDaoImpl" init-method="init">
        <property name="conn">
            <ref bean="database_conn"></ref>
        </property>
    </bean>


    <bean id="documentDAO" class="dao.DocumentDAOImpl" init-method="init">
        <property name="databaseConn">
            <ref bean="database_conn"></ref>
        </property>

    </bean>

    <bean id="db_utils" class="utils.db.DBUtils">
        <property name="databaseConn">
            <ref bean="database_conn"></ref>
        </property>
    </bean>



    <bean id="user_mapping_collection"  class="dao.UserCollectionMappingDAOImpl" init-method="init">
        <property name="conn">
            <ref bean="database_conn"></ref>
        </property>
    </bean>

    <bean id="trackingDataDAO" class="dao.TrackingModelDAO" init-method="init" >
        <property name="databaseConn">
            <ref bean="database_conn"></ref>
        </property>
    </bean>

    <!--<bean id="mongo_database_wrap" class="db.MongoDatabaseWrap">
    </bean>
    <bean id = "user_DAO_impl" class="model.UserDAOImpl">
        <property name="wrap">
            <ref  bean="mongo_database_wrap"/>
        </property>
    </bean>
    <bean id="user_management_service" class="services.UserManagementServiceImpl">

    <bean id="authentication_service" class="services.AuthenticationServiceImpl">
    </bean>
        <property name="userDAO">
            <ref bean="user_DAO_impl"/>
        </property>
    </bean>-->

</beans>